<!-- wp:template-part {"slug":"shop-header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:woocommerce/all-products {"columns":3,"rows":4,"alignButtons":true,"contentVisibility":{"orderBy":true},"orderby":"date","layoutConfig":[["woocommerce/product-image",{"imageSizing":"cropped"}],["woocommerce/product-title"],["woocommerce/product-price"],["woocommerce/product-rating"],["woocommerce/product-button"]],"align":"wide"} -->
<div class="wp-block-woocommerce-all-products alignwide wc-block-all-products" data-attributes="{"align":"wide","alignButtons":true,"columns":3,"contentVisibility":{"orderBy":true},"isPreview":false,"layoutConfig":[["woocommerce/product-image",{"imageSizing":"cropped"}],["woocommerce/product-title"],["woocommerce/product-price"],["woocommerce/product-rating"],["woocommerce/product-button"]],"orderby":"date","rows":4}"><!-- wp:woocommerce/product-image {"saleBadgeAlign":"left"} -->
<div class="is-loading"></div>
<!-- /wp:woocommerce/product-image -->

<!-- wp:woocommerce/product-title {"fontSize":"medium"} -->
<div class="wp-block-woocommerce-product-title is-loading has-medium-font-size"></div>
<!-- /wp:woocommerce/product-title -->

<!-- wp:woocommerce/product-price -->
<div class="is-loading"></div>
<!-- /wp:woocommerce/product-price -->

<!-- wp:woocommerce/product-rating -->
<div class="is-loading"></div>
<!-- /wp:woocommerce/product-rating -->

<!-- wp:woocommerce/product-button -->
<div class="is-loading"></div>
<!-- /wp:woocommerce/product-button --></div>
<!-- /wp:woocommerce/all-products --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->